# Django
*.pyc
__pycache__/
*.pyo
*.pyd

# Environments
venv/
.venv/
db.sqlite3
*.sqlite3

# Uploads and media
/media/
resource/uploads/
resource/chunks/

# System files
.DS_Store
.idea/
.vscode/

# Logs
*.log
